@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  color-scheme: light;

  --color-primary: #ff5200;
  --color-primary-content: oklch(100% 0 0 / 80%);
  --color-secondary: #d75050;
  --color-accent: #d59b6c;
  --color-neutral: #836b5d;
  --color-base-100: #faf7f5;
  --color-base-200: #ece4de;
  --color-info: #42aebd;
  --color-success: #489380;
  --color-warning: #eb8014;
  --color-error: #e01a2e;
  --animation-btn: 0;
  --depth: 0;
  --radius-box: 1rem;
  --radius-field: 0.5rem;
  --radius-selector: 1rem;
}

@plugin "daisyui/theme" {
  name: "mythemeDark";
  prefersdark: true;
  color-scheme: dark;

  --color-primary: #ff5200;
  --color-primary-content: oklch(100% 0 0 / 80%);
  --color-secondary: #d75050;
  --color-accent: #d59b6c;
  --color-neutral: #836b5d;
  --color-base-100: #291334;
  --color-info: #42aebd;
  --color-success: #489380;
  --color-warning: #eb8014;
  --color-error: #e01a2e;
  --animation-btn: 0;
  --depth: 0;
  --radius-box: 1rem;
  --radius-field: 0.5rem;
  --radius-selector: 1rem;
}

@layer base {
  h1 {
    @apply text-5xl font-bold mb-5;
  }

  h2 {
    @apply text-3xl font-bold mb-4;
  }

  h3 {
    @apply text-2xl font-bold mb-2;
  }
}

.timeline-container > div:last-child .timeline-line-container > .timeline-line {
  display: none;
}
