---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import TimeLine from "../components/TimeLine.astro";

const projects = (await getCollection("projects")).sort(
  (a, b) => a.data.order - b.data.order
);
const skills = [
  "React Native",
  "React / Redux",
  "Typescript / Node.js",
  "VueJS / Vuex",
  "d3",
  "Ruby on Rails",
  "Elixir",
  "Phoenix Framework",
  "GraphQL",
  "Slack API",
  "Stripe API",
  "AWS",
  "Google Cloud / Firebase",
  "PostgreSQL",
  "Redis",
  "Docker / dokku",
];
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <h1 class="w-full">👋 Hi I'm Jeff</h1>
    <div class="py-2">
      <p class="text-lg mb-3">
        I'm a highly-experienced team manager and software developer
        specializing in web and mobile applications. With over 10 years of
        experience, I have enjoyed building intuitive well-tested products for
        consumers and businesses in a variety of industries.
      </p>
      <p class="text-lg">
        As a <em>true</em> full-stack developer I am comfortable with working within
        all aspects of a sophisticated application including web and mobile frontend,
        backend, and server operations.
      </p>
    </div>
    <div class="mt-8 flex flex-col md:flex-row md:justify-between">
      <a class="btn btn-primary" href="/resume.pdf" target="_blank">
        Get in touch
      </a>
      <a href="/resume.pdf" class="btn btn-outline btn-primary mt-2" download>
        Download Resume / CV
      </a>
    </div>
  </div>

  <h2 class="w-full">Skills</h2>

  <div class="mb-4">
    {
      skills.map((skill) => (
        <span class="badge badge-secondary badge-lg mr-1 mb-2">{skill}</span>
      ))
    }
  </div>

  <h2 class="w-full">Recent clients</h2>

  <div class="mb-2">
    {
      projects.map((project, index) => (
        <>
          <ProjectCard project={project.data} />
          {index !== projects.length - 1 && <div class="divider my-0" />}
        </>
      ))
    }
  </div>

  <h2 class="w-full text-center my-10">Ready to work together?</h2>

  <div class="flex justify-center">
    <a href="" class="btn btn-primary btn-lg"> Get in touch</a>
  </div>
</BaseLayout>
