---
import { presentDate } from "../presenters/presentDate";

interface Props {
  title: string;
  pubDate: Date;
  draft?: boolean;
  permalink?: string;
  standalone?: boolean;
}

const { title, draft, pubDate, permalink, standalone } = Astro.props;

const TitleTag = standalone ? "h1" : "h2";
const titleClassNames = standalone ? "" : "mb-0";
---

<div class="post">
  <div class="max-w-prose">
    <TitleTag class:list={[titleClassNames]}>
      {permalink ? <a href={permalink}>{title}</a> : title}
      {draft && <span class="badge badge-warning">DRAFT</span>}
    </TitleTag>
  </div>
  <div class="my-2">
    <time class="opacity-70">{presentDate(pubDate)}</time>
  </div>

  <div class="prose">
    <slot />
  </div>
</div>
