---
import { presentDate } from "../presenters/presentDate";

interface Props {
  title: string;
  postedAt: Date;
  draft?: boolean;
  permalink?: string;
}

const { title, draft, postedAt, permalink } = Astro.props;
---

<div class="post">
  <h2 class="mb-0">
    {permalink ? <a href={permalink}>{title}</a> : title}
    {draft && <span class="badge badge-warning">DRAFT</span>}
  </h2>
  <div class="my-2">
    <time class="opacity-70">{presentDate(postedAt)}</time>
  </div>

  <div class="prose">
    <slot />
  </div>
</div>
