---
import { CONTACT_URL } from "../config";

interface Props {
  text?: string;
  type?: string;
  class?: string;
}

const {
  text = "Get in touch",
  type = "primary",
  class: className,
} = Astro.props;

const classList = ["btn", `btn-${type}`, className];
---

<a class:list={classList} href={CONTACT_URL} target="_blank">{text}</a>
