---
import ContactButton from "./ContactButton.astro";
const { sideBarActiveItemID, sidebarPreserveActiveItemHref } = Astro.props;
const activeClass = "active";
---

<div class="grow shrink">
  <ul class="menu menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/">Home</a></li>
    <li><a class="py-3 text-base" id="blog" href="/blog">Blog</a></li>
    <li><a class="py-3 text-base" id="work" href="/work">Work</a></li>
    <li>
      <a class="py-3 text-base" id="about" href="/about">About me</a>
    </li>
  </ul>

  <div class="px-2 mt-5">
    <ContactButton class="w-full" />
  </div>
</div>

<script
  define:vars={{
    sideBarActiveItemID,
    sidebarPreserveActiveItemHref,
    activeClass,
  }}
>
  const activeItemElem = document.getElementById(sideBarActiveItemID);

  if (activeItemElem) {
    activeItemElem.classList.add(activeClass);

    if (!sidebarPreserveActiveItemHref) {
      activeItemElem.removeAttribute("href");
    }
  }
</script>
